extends: default
rules:
  line-length: disable
  document-start: disable
  indentation:
    indent-sequences: consistent
  trailing-spaces: enable
  truthy:
    allowed-values: ["true", "false", "on", "off", "yes", "no"]
